.widget {
  display: flex;
  width: 288px;
  height: 110px;
  justify-content: space-between;
  padding: 20px;
  -webkit-box-shadow: 1px 3px 5px -1px rgba(34, 60, 80, 0.34);
  -moz-box-shadow: 1px 3px 5px -1px rgba(34, 60, 80, 0.34);
  box-shadow: 1px 3px 5px -1px rgba(34, 60, 80, 0.34);
  border-radius: 10px;

  .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: #bbbbbb;
    }

    .counter {
      font-size: 28px;
      font-weight: 300;
    }

    .link {
      font-size: 12px;
      border-bottom: 1px;
    }

  }

}
