.item {
  text-align: center;

  .itemTitle {
    font-size: 14px;
    color: gray;
  }

  .itemResult {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;

    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }
}
